<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
  <% if (user) { %>
  <div class="navbar">
    <h1 id="header">HalaBites</h1>
    <div class="navlinks">
      <a href="/users/<%=user._id%>/restaurants">Halal Spots</a>
      <a href="/auth/sign-out">Sign Out</a>
    </div>
  </div>
  <% } else { %>
  <div class="navbar">
    <h1 id="header">HalaBites</h1>
    <div class="navlinks">
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    </div>
  </div>
  <% } %>
</nav>
